@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1> Bem Vindo (a)!</h1>

    <h5>Aqui profissinais de TI tem descontos em suas viagens.</h5>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                Voos
            </div>
            <br />
            <div class="col">
                Pacotes
            </div>
            <br />
            <div class="col">
                Seguro Viagem
            </div>
        </div>
        <br />
        <a href="https://localhost:44383/Destinos" class=" btn btn-primary">Clique aqui!</a>
    </div>
    <br /><br />
    <div class="card mb-3">
        <img src="https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321__340.png"class="card-img-top"alt="Rede, Mapa, Apartamento, Projeto, Pin"/> 
        <div class="card-body">
            <h5 class="card-title">Dallas Trip </h5>
            <p class="card-text">
            <p>
                <h2>Você encontra os melhores destinos.</h2></p>
        </div>
    </div>
</body>
</html>

